[run]
branch = True
source = .
omit =
    tests/*
    */__pycache__/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    raise ImportError
    def main\(\):

[html]
directory = coverage_html 